/* FONTY */

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'),
		url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway-Thin.ttf') format('truetype'),
		url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
		url('../fonts/Raleway-ExtraLight.woff') format('woff'),
		url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
		url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Black.woff2') format('woff2'),
		url('../fonts/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black.ttf') format('truetype'),
		url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
		url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

/*SEKCJA OBOWIĄZKOWA*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

.clearfix:before, .clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.emerald {
	color: #24baa0;
	font-weight: 700;
}

/*POCZĄTEK SEKCJI HEADER*/
#top {
	width: 100%;
	height: 40px;
	background-color: #000;
	padding: 10px 25px;
}

#top #logo {
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	float: left;
	letter-spacing: 1.5px;
}

.menu {
	float: right;
	position: relative;
}

.menu ul {	
	font-size: 0;
}

.menu ul li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 40px;	
}

a {
	text-decoration: none;
	font-weight: 700;
	color: #fff;
}

.menu ul li a:hover {
	color: #999;
}

.dropdown-content {
	display: block;
	position: absolute;
	top: 40px;
	left: 25px;
	background-color: #000;
	width: 120px;
	z-index: 10;
	text-align: left;
	line-height: 30px;
	text-transform: capitalize;	
}



.dropdown-content:before {
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	background-color: #000;
	position: absolute;
	-webkit-transform: rotateZ(45deg); /* Safari */
    transform: rotateZ(45deg); /* Standard syntax */     
    transform: rotate(45deg);
    top: -5px;
    left: 50px;
    z-index: -10;
}


.dropdown-content a {
	display: block;	
	font-weight: 400;
	padding: 0 15px;
	line-height: 33px;
}

#top .menu .dropdown-content a:hover {
	background-color: #444;
	display: block;	
	font-weight: 600;
	width: 100%;
	color: #fff;

}

/*Koniec sekcji HEADER*/
/*POCZĄTEK SEKCJI MAIN*/
#main {
	background-color: #fff;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,240,1) 75%, rgba(208,207,215,1) 100%);
	position: relative;

}

#main .container {
	width: 100%;
	height: 500px;
	background-image: url("../images/black_chair.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50px 0;
	position: relative;
}

#claim {
	width: 400px;
	position: absolute;
	top: 120px;
	bottom: 0;
	left: 650px;
	right: 0;
	margin: 0 20px 0 0;
}

#claim h1 {
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

#claim p {
	font-family: 'Raleway', Arial, sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	margin-top: 40px;
	letter-spacing: 1px;
}

#claim button {
	width: 260px;
	height: 50px;
	border-radius: 5px;
	background-color: #24baa0;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	border: none;
	position: absolute;
	left: 70px;
	top: 200px;
}

/*Koniec sekcji MAIN*/
/*POCZĄTEK SEKCJI GALLERY*/
#gallery .image-show, #gallery .image-info {
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	border: 1px solid #dcdcdc;
	padding: 25px;
}

#gallery .image-show {
	height: 225px;
	width: 330px;
	position: relative;
}

 #gallery .image-info {
 	height: 250px;
 	width: 345px;
 }

#gallery .container {
	position: relative;
	height: 350px;
}

#gallery .image-show:first-child {
	background-image: url("../images/box1_img.jpg");
	background-size: cover;
}

#gallery .image-show:nth-child(2) {
	background-image: url("../images/box2_img.jpg");
	background-size: cover;
}

#gallery h3 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.3px;
	position: absolute;
}

#gallery .image-show h3:after {
	width: 138px;
	height: 7px;
	position: absolute;
	top: 25px;
	left: 15px;
	background-color: #27c7ab;
	margin: 10px 0;
	content: "";
}

#gallery .image-info h3:after {
	width: 138px;
	height: 7px;
	position: absolute;
	top: 10px;
	left: 0px;
	background-color: #27c7ab;
	margin: 10px 0;
	content: "";
}

#gallery .image-show h3 {
	height: 60px;
	width: 330px;
	position: absolute;
	top: 150px;
	left: 0;
	background-color: rgba(255, 255, 255, .3);
	padding-left: 15px;
	padding-top: 15px;

}

#gallery .image-info p {
	font-size: 14px;
	line-height: 21px;
	color: #565656;
	margin-bottom: 15px;
}

#gallery .image-info p:first-of-type {
	margin-top: 50px;
}
/*Koniec sekcji GALLERY*/
/*POCZĄTEK SEKCJI PRICING*/
#pricing {
	background-color: #f1f1f1;
}

#pricing .container {
	height: 725px;
	position: relative;
}

h2 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 500;
	color: #575757;
	position: absolute;
	top: 50px;
	left: 0;
	padding-left: 25px;
}

h2:after {
	width: 315px;
	height: 7px;
	position: absolute;
	top: 20px;
	left: 25px;
	background-color: #27c7ab;
	margin: 10px 0;
	content: "";
}

.box-standard, .box-feature {
	float: left;
	width: 330px;
	height: 500px;
	background-color: #f9f9f9;
	border: 2px solid #d6d5d5;
	margin-top: 160px;
	position: relative;
	
}

.box-feature {
	margin: 160px 38px;
}

h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: Myriad, Arial, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #27c7ab;
	margin-top: 30px;
}

.circle-price {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #d6d5d5;	
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}

.circle-price h5 {
	text-align: center;
	font-size: 45px;
	color: #c2c2c2;
	margin-top: 25px;
}

.circle-price h5 sup {
	font-size: 16px;

}

.circle-price p {
	text-align: center;
	font-size: 16px;
	color: #c2c2c2;
	text-transform: uppercase;
	font-weight: bold;
}

.info-stripe:nth-child(4) {
	text-align: center;
	color: #939393;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #e4e4e4;
	padding-top: 5px;
	margin-top: 180px;
}

.info-stripe:nth-child(5) {
	text-align: center;
	color: #787878;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #f1f1f1;
	padding-top: 5px;
}

.info-stripe:nth-child(6) {
	text-align: center;
	color: #939393;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #e4e4e4;
	padding-top: 5px;
}

.info-stripe:nth-child(7) {
	text-align: center;
	color: #787878;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #f1f1f1;
	padding-top: 5px;
}

#pricing button {
	width: 122px;
	height: 34px;
	background-color: #27c7ab;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 6px;
	position: absolute;
	top: 443px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	font-weight: 500;
}

.circle-pin-outer {
	color: #fff;
	border: 2px solid #d6d5d5;
	background-color: #fff;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	position: absolute;
	top: -27px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 10;
}

.circle-pin-inner {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #c2c2c2;
	position: absolute;
	top: 13px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 15;
}

.box-feature {
	background-color: #27c7ab;
	border: 0;
}

.box-feature h4 {
	color: #fff;
}

.box-feature .circle-pin-inner {
	background-color: #fff;
	top: 15px;
}

.box-feature .circle-pin-outer {
	background-color: #27c7ab;
	border: 0;
}

.box-feature .circle-price {
	border: 0;
}

.box-feature .circle-price h5, .box-feature .circle-price p {
	color: #27c7ab;
}

.box-feature .info-stripe:nth-child(4) {
	text-align: center;
	color: #9e9e9e;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #fff;
	padding-top: 5px;
	margin: 180px 0 0 0;
	position: absolute;
	left: 2px;
}

.box-feature .info-stripe:nth-child(5) {
	text-align: center;
	color: #9e9e9e;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #f1f1f1;
	padding-top: 5px;
	margin: 220px 0 0 0;
	position: absolute;
	left: 2px;
}

.box-feature .info-stripe:nth-child(6) {
	text-align: center;
	color: #9e9e9e;
	font-size: 24px;
	height: 40px;
	width: 326px;
	background-color: #fff;
	padding-top: 5px;
	margin: 260px 0 0 0;
	position: absolute;
	left: 2px;
}

#pricing .box-feature button {
	background-color: #fff;
	color: #27c7ab;
}





// .menu-wrapper .menu {
// 	display: none;
// }

// .menu-wrapper:hover .menu {
// 	display: block;
// }
